@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url(/images/cover-image-light.png);
    --page-font-family: "IBM Plex Mono";
    --page-font-size: 1.125rem;
    --highlight-color: #FF8DCB;
    --primary-color: #353430;
    --background-color: #FFF1F7;
    --text-color: #353430;
    --title-color: #FFC2E6;
    --section-title-color: #353430;
    --decoration-color: #353430;
    --theme-menu-color: #353430;
    --theme-menu-color-rbga: rgba(53, 52, 48, 0.5);
    --display-decoration-record: none;
  }
}

:root.theme-light {
  --cover-image: url(/images/cover-image-light.png);
  --page-font-family: "IBM Plex Mono";
  --page-font-size: 1.125rem;
  --highlight-color: #FF8DCB;
  --primary-color: #353430;
  --background-color: #FFF1F7;
  --text-color: #353430;
  --title-color: #FFC2E6;
  --section-title-color: #353430;
  --decoration-color: #353430;
  --theme-menu-color: #353430;
  --theme-menu-color-rbga: rgba(53, 52, 48, 0.5);
  --display-decoration-record: none;
}