:root {
  --cover-image: url(/images/cover-image.png);
  --page-font-family: "IBM Plex Mono";
  --page-font-size: 1.125rem;
  --highlight-color: #FF0070;
  --primary-color: #000028;
  --background-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --section-title-color: #FF0070;
  --decoration-color: #FF0070;
  --theme-menu-color: #FF0070;
  --theme-menu-color-rbga: rgba(255, 0, 112, 0.5);
  --display-decoration-record: flex;
}